<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Test2" connectionString="Data Source=.;Initial Catalog=Test2;User ID=sa;Password=123456;Connection Timeout=300; MultipleActiveResultSets=True;Pooling=true;Max Pool Size=200;"/>
  </connectionStrings>
</configuration>